* {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

.titulo {
    color: red;
    text-align: center;
}

.texto {
    text-align: center;
}

.pokemons {
    display: flex;
    justify-content: center;
    text-align: center;
    border-color: blue;
    border-radius: 20%;
}
