* {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

.titulo {
    color: red;
    text-align: center;
}

.texto {
    text-align: center;
}

.pokemons ul li {
    display: grid;
    justify-content: center;
}