* {
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    background-color: aliceblue;
}

.titulo {
    color: red;
    text-align: center;
}

.texto {
    text-align: center;
}

.pokemons {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    font-weight: bold;
    flex-wrap: wrap;
}

.pokemons div {
    border: 5px solid;
    border-color: blue;
    border-radius: 20px;
    height: 150px;
    width: 150px;
}